body {
  font-family: Arial, sans-serif;
  background-color: #f9fafb;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
